@import '../vars';
@import '../mixins';

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - $widthSite /2);
    padding-right: calc(50% - $widthSite /2);
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

@include Header;

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.nav__menu {
        display: none;
    }
}

.nav__menu {
    width: $widthBurgerMenu;
    padding: 32px;
    top: 60px;
    right: 0;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    box-sizing: border-box;

    &_menu {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 24px;
    }

    &_item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 20px;
    }

    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $ColorText;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

}

.header__top {
    background-color: rgba(248, 243, 244, 1);
    @include centerflex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

    .blog_left {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $ColorText;
    }
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cart__blog {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 96px;
        padding-bottom: 128px;

        &_button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 32px;
        }

        &_btn {
            background-color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            border: 1px solid rgba(164, 164, 164, 1);
            padding: 17px 40px;
        }

        &_btn:hover {
            box-shadow: 1px 4px 20px rgb(156, 155, 155);
        }
    }

    &__item {
        display: flex;
        box-shadow: 12px 21px 21px rgb(198, 197, 197);
        position: relative;
    }

    &__item svg {
        position: absolute;
        margin-top: 28px;
        margin-right: 22px;
        top: 0;
        right: 0;
    }

    .cart__info {
        padding-top: 22px;
        padding-bottom: 62px;
        padding-left: 30px;
        margin-right: 57px;
        max-width: 232px;

        &_title {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }

        &_info {
            display: flex;
            flex-direction: column;
            gap: 6px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            padding-top: 42px;
        }

        &_price {
            color: $ColorText;
        }

        &_quantity {
            display: flex;
            gap: 24px;
        }

        .quantity__blog {
            border: 2px solid rgba(234, 234, 234, 1);
            width: 44px;
            height: 25px;
            text-align: center;
        }
    }


}

.shopping {
    margin-top: 113px;
    display: flex;
    flex-direction: column;
    gap: 57px;

    .shopping__adress {
        max-width: 360px;

        &_form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &_title {

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &_input {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #222222;
            border: 1px solid rgba(164, 164, 164, 1);
            padding-left: 17px;
            padding-top: 13px;
            padding-bottom: 16px;
        }

        &_btn {
            width: 101px;
            height: 35px;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            background-color: #FFFFFF;
            border: 1px solid rgba(164, 164, 164, 1);
        }

        &_btn:hover {
            box-shadow: 1px 4px 20px rgb(156, 155, 155);
        }
    }

    .shopping__buy {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(245, 243, 243, 1);
        padding-top: 39px;
        padding-right: 37px;
        padding-bottom: 42px;
        padding-left: 44px;


        &_sub {
            display: flex;
            gap: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
        }

        &_sub span {
            color: $ColorText;
        }

        &_grand {
            display: flex;
            gap: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-top: 12px;
            padding-bottom: 21px;
        }

        &_grand span {
            color: $ColorText;
        }

        &_btn {
            background-color: $ColorText;
            max-width: 273px;
            height: 50px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
            margin-top: 17px;
        }

        &_btn:hover {
            box-shadow: 1px 4px 20px rgb(156, 155, 155);
        }
    }
}

.footer {
    background-image: url(/PORTFOLIO/PROJECT_HTML/image/footer_center_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    .footer__center {
        max-width: 1600px;
        min-height: 438px;
        margin: 0 auto;
        background-image: url(/image/footer_center_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;

        &_block {
            @include centerflex;
            flex-direction: row;
            justify-content: space-around;
            gap: 224px;

        }

        &_foto {
            text-align: center;
            width: 360px;
            margin-top: 97px;
            margin-bottom: 126px;

            .footer_center_foto img {
                margin-bottom: 20px;

            }
        }

        &_p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }

        .footer__input {

            @include centerflex;
            flex-direction: column;


            &_title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 167%;
            }

            &_text {
                font-style: normal;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .footer_form {
                display: flex;
                justify-content: center;
                width: 356px;
                text-align: center;

                .input_email {
                    width: 70%;
                    height: 49px;
                    border-radius: 20px 0 0 20px;
                    border: $ColorFonts;
                    background-color: $ColorFonts;
                    ;
                    padding-left: 20px;
                }

                .footer_btn {
                    width: 30%;
                    height: 49px;
                    border-radius: 0 20px 20px 0;
                    border: $ColorText;
                    background-color: $ColorText;
                    color: $ColorFonts;
                }

                .footer_btn:hover {
                    box-shadow: 1px 4px 20px rgb(156, 155, 155);
                }
            }
        }
    }

    .footer_botom {
        background-color: black;
        display: flex;
        justify-content: space-between;
        height: 79px;
        align-items: center;

        &_text {
            color: white;
        }

        .footer_botom_img:hover {
            transform: scale(2);
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav__menu {
        right: 0;
    }

    .cart__blog {
        margin-bottom: 0;
    }

    .shopping {
        flex-direction: row;
        gap: 15px;
        margin-top: 0;
        justify-content: space-between;

        &__adress {
            margin-bottom: 128px;
        }
    }

    .shopping__buy {
        max-height: 130px;
        padding-bottom: 0px;
        margin-top: 40px;
    }

    .shopping__adress_input {
        padding-right: 278px;
    }


    .cart {
        flex-direction: column;

    }

    .footer {

        .footer__center {

            &_block {
                flex-direction: column;
                gap: 48px;
                padding-bottom: 140px;
            }

            &_foto {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header {
        .mobil {
            display: none;
        }
    }

    .header__top {
        justify-content: center;
    }

    .nav__menu {
        right: 20px;
        z-index: 3;
    }

    .cart {
        flex-direction: column;

        .cart__info {
            padding-top: 13px;
            padding-bottom: 38px;
            padding-left: 10px;
            margin-right: 53px;
            max-width: 144px;

            &_title {
                font-size: 16px;
                line-height: 19px;
            }

            &_info {
                font-size: 14px;
                line-height: 17px;
                padding-top: 26px;
            }

            .quantity__blog {
                width: 24px;
                height: 15px;
            }
        }

        &__item {
            height: 188px;
        }

        &__item img {
            width: 144px;
            height: 188px;
        }

        &__item svg {
            margin-top: 17px;
            margin-right: 17px;
            width: 10px;
            height: 11px;
        }

        .cart__blog {
            padding-bottom: 0px;

            &_btn {
                padding: 9px 18px;
                font-size: 12px;
                line-height: 14px;
                text-transform: lowercase;
            }
        }

        .shopping {
            margin-top: 45px;
            gap: 48px;

            &__buy {
                margin-bottom: 96px;
            }
        }

    }

    .footer {

        .footer__center {

            &_block {
                flex-direction: column;
                gap: 59px;
                padding-bottom: 110px;
            }

            &_foto {
                margin-bottom: 0px;
                margin-top: 64px;
            }

            &_foto img {
                width: 92px;
                height: 92px;


            }

            &_p {
                font-size: 18px;
                line-height: 22px;
            }

            .footer__input {
                &_title {
                    line-height: 153%;
                }

                &_text {
                    font-size: 14px;

                }

                .footer_form {
                    width: 309px;
                }

            }
        }

        .footer_botom {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 43px;
            padding-bottom: 24px;
        }
    }
}